name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-design-language-system:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.14"
          registry-url: https://registry.npmjs.org/

      - run: yarn ci
      - run: yarn run generate
      - uses: JS-DevTools/npm-publish@v2
        with:
          access: public
          dry-run: false
          token: ${{ secrets.NPM }}